body {
  --max-width: 1337px;
}
body {
  --zi-base: 0;
  --zi-navigation: 1000;
}

#content-container {
  max-width: var(--max-width);
  margin: 0 auto;
}

#navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f0efeb;
  border-style: groove;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  gap: 30px;
  z-index: var(--zi-navigation);
  max-width: var(--max-width);
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
